.hh {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 130px 100px 102px 100px;
}
.hh h2 {
    font-weight: 600;
}
.mentor-card-item1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 30px 120px 30px 120px;
}
.mentor-card-item2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 30px 120px 0px 120px;
}
.mentor-card-item2 .mentor-card-text {
    width: 100%;
}
.mentor-card-item3 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 0px 30px 30px 30px;
}

.mentor-card-item3 .mentor-card-text {
    width: 27%;
}
.mentorss .mentor-card-text h2 {
    font-size: 20px;
}
.mentor-card-item3 .mentor-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.mentor-card-item3 h2 {
    margin-top: 10px;
}
.mentor-card {
    margin-right: 40px;
    /* width: 90%; */
}
.mentor-card-text {
    background-color: #F4F4F4;
    padding: 30px 30px 30px 30px;
    width: 100%;
    margin-top: 150px;
    margin-right: 10px;
}
.mentor-card-text h2 {
    font-size: 22px;
    font-weight: 600;
}
.mentor-card-text h3 {
    font-size: 21px;
}
.mentor-card-text p {
    margin-top: 10px;
    font-size: 15px;
    line-height: 18px;
    color: #6B6B6B;
}
.mentor-card img {
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 10%;
    top: 13%;
    left: 15%;
    position: absolute;
    /* z-index: 1000; */
    margin-bottom: 50px;
}
.mentor-card .menn1 {
    top: 10%;
    left: 42%;
}
.mentor-card .menn2 {
    left: 70%;
}
#nab img {
    left: 42%;
}
#mar img {
    top: 9%;
    left: 42%;
}
#meen1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 30px 90px 30px 90px;
}
#meen1 h3 {
    color: green;
}
#iof img{
    left: 73%;
}
#iof {
    width: 170%;
}
.m1 {
    width: 100;
}
.m1 h2 {
    font-size: 20px;
}
.m1 h3 {
    font-size: 20px;
}
#hann {
    left: 40%;
    top: 15%;
    margin-bottom: 0px;
}
.of .mentor-card {
    width: 120%;
}
#meen1-text {
    width: 100%;
}
#meen1 img {
    top: 13%;
    left: 14%;
}
#meen1 .meen-img {
    top: 15%;
    left: 44%;
}
#meen1 .meen-img2 {
    left: 73%;
}
#mm {
    width: 170%;
}
@media (max-width: 768px) {
    .mentor-card-item1 {
        padding: 30px 80px 30px 80px;
        flex-direction: column;
    }
    .mentor-card-text {
        margin-top: 130px;
        margin-right: 10px;
    }
    .mentor-card img {
        width: 20%;
        top: 4%;
        left: 35%;
    }
    #nab img {
        top: 36%;
        left: 35%;
    }
    .mentor-card .menn2 {
        top: 69%;
        left: 35%;
    }    
    .mentor-card-item2 {
        flex-direction: column;
        padding: 30px 80px 0px 80px;
    }
    .mentor-card {
        margin-bottom: 40px;
    }
    .mentor-card img {
        width: 20%;
        top: 3%;
        left: 35%;
    }
    .mentor-card-item3 .mentor-card-text {
        width: 85%;
    }
    #mar img {
        left: 35%;
    }
    #meen1 {
        flex-direction: column;
        background-color: white;
        padding: 30px 20px 30px 50px;
    }
    #meen1 img {
        top: 3%;
        left: 35%;
    }
    #meen1 .meen-img {
        top: 36%;
        left: 35%;
    }
    #meen1 .meen-img2 {
        top: 67%;
        left: 35%;
    }
    .mentor-card-text {
        background-color: #F4F4F4;
        padding: 30px 30px 30px 30px;
        width: 100%;
        margin-top: 150px;
        margin-right: 10px;
    }
    #iof {
        width: 95%;
    }
    #mm {
        width: 95%;
    }
    
}
@media (max-width: 430px) {
    .about-header h2 {
        font-size: 30px;
    }
    .mentor-card-item1 {
        padding: 30px 30px 30px 40px;
        flex-direction: column;
    }
    .mentor-card {
        margin-right: 20px;
    }
    #nab img {
        top: 36.5%;
        left: 35%;
        margin-bottom: 0px;
    }
    .mentor-card .menn2 {
        top: 69%;
        left: 35%;
        margin-bottom: 0px;
    }    
    .mentor-card-item2 {
        flex-direction: column;
        padding: 30px 20px 30px 40px;
    }
    .mentor-card {
        margin-bottom: 40px;
    }
    .mentor-card img {
        width: 30%;
        top: 4%;
        left: 35%;
    }
    .mentor-card-item3 {
        padding: 30px 20px 30px 40px;
    }
    .mentor-card-item3 .mentor-card-text {
        width: 97%;
        
    }
    #mar img {
        top: 12%;
        left: 35%;
        margin-bottom: 0px;
    }
    #meen1 img {
        top: 5%;
        left: 35%;
    }
    #meen1 .meen-img {
        top: 38%;
        left: 35%;
    }
    #meen1 .meen-img2 {
        top: 70%;
        left: 35%;
    }
}
@media (max-width:  414px) {
    .about-header h2 {
        font-size: 30px;
    }
    .mentor-card-item1 {
        padding: 30px 30px 30px 40px;
        flex-direction: column;
    }
    .mentor-card {
        margin-right: 20px;
    }
    #nab img {
        top: 35%;
        left: 35%;
    }
    .mentor-card .menn2 {
        top: 68%;
        left: 35%;
    }    
    .mentor-card-item2 {
        flex-direction: column;
        padding: 30px 20px 30px 40px;
    }
    .mentor-card {
        margin-bottom: 40px;
    }
    .mentor-card img {
        width: 30%;
        top: 4%;
        left: 35%;
    }
    .mentor-card-item3 {
        padding: 30px 20px 30px 40px;
    }
    .mentor-card-item3 .mentor-card-text {
        width: 97%;
        
    }
    #mar img {
        left: 35%;
    }
    #meen1 img {
        top: 5%;
        left: 35%;
    }
    #meen1 .meen-img {
        top: 38%;
        left: 35%;
    }
    #meen1 .meen-img2 {
        top: 70%;
        left: 35%;
    }
}
@media (max-width: 375px) {
    .hh {
        padding: 110px 30px 90px 30px;
    }
    .about-header h2 {
        font-size: 30px;
    }
}