.hh {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 130px 100px 102px 100px;
}
.hh h2 {
    font-weight: 600;
}
.mentor-card-item1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 30px 120px 30px 120px;
}
.mentor-card-item2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 30px 120px 0px 120px;
}
.mentor-card-item2 .mentor-card-text {
    width: 100%;
}
.mentor-card-item3 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 0px 30px 30px 30px;
}

.mentor-card-item3 .mentor-card-text {
    width: 27%;
}
.mentorss .mentor-card-text h2 {
    font-size: 20px;
}
.mentor-card-item3 .mentor-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.mentor-card-item3 h2 {
    margin-top: 10px;
}
.mentor-card {
    margin-right: 40px;
    /* width: 90%; */
}
.mentor-card-text {
    background-color: #F4F4F4;
    padding: 30px 30px 30px 30px;
    width: 100%;
    margin-top: 150px;
    margin-right: 10px;
}
.mentor-card-text h2 {
    font-size: 22px;
    font-weight: 600;
}
.mentor-card-text h3 {
    font-size: 21px;
}
.mentor-card-text p {
    margin-top: 10px;
    font-size: 15px;
    line-height: 18px;
    color: #6B6B6B;
}
.mentor-card img {
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 10%;
    top: 13%;
    left: 15%;
    position: absolute;
    /* z-index: 1000; */
    margin-bottom: 50px;
}
.mentor-card .menn1 {
    top: 10%;
    left: 42%;
}
.mentor-card .menn2 {
    left: 70%;
}
#nab img {
    left: 42%;
}
#mar img {
    top: 9%;
    left: 42%;
}
#meen1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 30px 90px 30px 90px;
}
#meen1 h3 {
    color: green;
}
#iof img{
    left: 73%;
}
#iof {
    width: 170%;
}
.m1 {
    width: 100;
}
.m1 h2 {
    font-size: 20px;
}
.m1 h3 {
    font-size: 20px;
}
#hann {
    left: 40%;
    top: 15%;
    margin-bottom: 0px;
}
.of .mentor-card {
    width: 120%;
}
#meen1-text {
    width: 100%;
}
#meen1 img {
    top: 13%;
    left: 14%;
}
#meen1 .meen-img {
    top: 15%;
    left: 44%;
}
#meen1 .meen-img2 {
    left: 73%;
}
#mm {
    width: 170%;
}