.presskit {
    background-color: white;
    padding: 60px;
}
.presskit h2 {
    font-size: 37px;
    margin-bottom: 30px;
}
.presskit-item p {
    font-size: 21px;
}
.presskit-item {
    display: flex;
    margin-bottom: 30px;
}
.presskit-item img {
    width: 5%;
    margin-right: 50px;
}
.presskit-item button {
    border: none;
    margin-top: 10px;
    background-color: #EEEEEE;
    padding: 6px 10px 6px 10px;
    border-radius: 15px;
}
.media {
    background-color: #EEEEEE;
    padding: 30px 0px 50px 50px;
}
.resources {
    display: flex;
}
.resources1 {
    display: flex;
}
.resources-text {
    font-size: 11px;
    margin-left: 20px;
    width: 50%;
}
.resources-text h2 {
    font-size: 20px;
    margin-bottom: 9px;
    font-weight: 600;
}
.resources-text h3 {
    font-size: 16px;
    color: grey;
}
.resources-text a {
    font-size: 16px;
}
.media h1 {
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 20px;
}
.media img {
    width: 40%;
    height: 35vh;
}
.newss {
    background-color: white;
    padding: 30px 0px 90px 50px;
}
.newss h1 {
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 20px;
}
.news-item {
    display: flex;
}
.news-item1 {
    display: flex;
}
.news-item1 img {
    width: 45%;
    height: 35vh;
}
.web {
    width: 10%;
}
@media (max-width: 768px) {
    .presskit-item img {
        width: 8%;
        margin-right: 50px;
    } 
    .media img {
        width: 100%;
    }
    .resources {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .bus {
        display: none;
    }
    .resources1 {
        display: flex;
    }
    .resources-text {
        display: flex;
        flex-direction: column;
        font-size: 11px;
        margin-left: 20px;
        width: 50%;
    }
    .resources-text h2 {
        font-size: 20px;
        margin-bottom: 9px;
        font-weight: 600;
    }
    .resources-text h3 {
        font-size: 16px;
        color: grey;
    }
    .resources-text a {
        font-size: 16px;
    }
    .media h1 {
        font-size: 23px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    .media img {
        width: 32%;
        height: 25vh;
        margin-bottom: 20px;
    }
    .newss {
        background-color: white;
        padding: 30px 0px 90px 50px;
    }
    .newss h1 {
        font-size: 23px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    .news-item {
        display: flex;
        flex-direction: column;
    }
    .news-item1 {
        display: flex;
    }
    .news-item1 img {
        width: 45%;
        height: 35vh;
        margin-bottom: 20px;
    }
    .web {
        display: none;
    }

}
@media (max-width: 430px) {
    .presskit {
        padding: 30px;
    }
    .presskit-item img {
        width: 17%;
        height: 10vh;
        margin-right: 20px;
    } 
    .media {
        padding-left: 30px;
    }
    .media img {
        width: 100%;
    }
    .resources {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .bus {
        display: none;
    }
    .resources1 {
        display: flex;
        flex-direction: column;
    }
    .resources-text {
        display: flex;
        flex-direction: column;
        font-size: 11px;
        margin-left: 0px;
        width: 80%;
        margin-bottom: 20px;
    }
    .resources-text h2 {
        font-size: 20px;
        margin-bottom: 9px;
        font-weight: 600;
    }
    .resources-text h3 {
        font-size: 16px;
        color: grey;
    }
    .resources-text a {
        font-size: 16px;
    }
    .media h1 {
        font-size: 23px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    .media img {
        width: 60%;
        height: 25vh;
        margin-bottom: 20px;
    }
    .newss {
        background-color: white;
        padding: 30px 0px 90px 50px;
    }
    .newss h1 {
        font-size: 23px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    .news-item {
        display: flex;
        flex-direction: column;
    }
    .news-item1 {
        display: flex;
        flex-direction: column;
    }
    .news-item1 img {
        width: 60%;
        height: 25vh;
        margin-bottom: 20px;
    }
    .web {
        display: none;
    }
}
@media (max-width: 414px) {
    .presskit {
        padding: 30px;
    }
    .presskit-item img {
        width: 17%;
        height: 10vh;
        margin-right: 20px;
    } 
    .media {
        padding-left: 30px;
    }
    .media img {
        width: 100%;
    }
    .resources {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .bus {
        display: none;
    }
    .resources1 {
        display: flex;
        flex-direction: column;
    }
    .resources-text {
        display: flex;
        flex-direction: column;
        font-size: 11px;
        margin-left: 0px;
        width: 80%;
        margin-bottom: 20px;
    }
    .resources-text h2 {
        font-size: 20px;
        margin-bottom: 9px;
        font-weight: 600;
    }
    .resources-text h3 {
        font-size: 16px;
        color: grey;
    }
    .resources-text a {
        font-size: 16px;
    }
    .media h1 {
        font-size: 23px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    .media img {
        width: 60%;
        height: 25vh;
        margin-bottom: 20px;
    }
    .newss {
        background-color: white;
        padding: 30px 0px 90px 50px;
    }
    .newss h1 {
        font-size: 23px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    .news-item {
        display: flex;
        flex-direction: column;
    }
    .news-item1 {
        display: flex;
        flex-direction: column;
    }
    .news-item1 img {
        width: 60%;
        height: 25vh;
        margin-bottom: 20px;
    }
    .web {
        display: none;
    }
}